@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #F4F3F3;
}
p{
    color:black;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-w#4F2FA9ebkit-scrollbar-track {
    background: #F4F3F3;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1200px;
    padding: 0 80px;
    margin: auto;
}
.home, .about, .work, .skills, .photos, .connect, footer, .navbar{
    font-family: 'Space Mono', monospace;
    position: relative;
}
.about, .work, .skills, .photos, .connect, footer, .navbar{
    font-family: 'Space Mono', monospace;
    position: relative;
}
.about .about-content,
.work .serv-content,
.skills .skills-content,
.connect .connect-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: black;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #F4F3F3;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #0097B2;
    padding: 0 5px;
    background: #F4F3F3;
    transform: translateX(-50%);
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0 20px 0;
    transition: all 0.3s ease;
    opacity: 0.91;
}
.logo{
    max-width: 150px;
    max-height: 150px;
    width: 60px;
    height: 60px;
}
.navbar.sticky{
    padding: 30px 0 20 0;
    background: #F4F3F3;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    max-width: 100%;
    max-height: 100%;
}
.navbar .logo a span{
    color: #0097B2;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: ;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(22, 21, 21);
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #0097B2;
}
.navbar.sticky .menu li a:hover{
    color: #0097B2;
}
/* menu btn styling */
.menu-btn{
    color: #0097B2;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background:#0097B2;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #F4F3F3;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
/* home section styling */
.home{
    display: flex;
    height: 100vh;
    color: black;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
    margin-bottom: 5px;
}
.home .home-content .text-2-1{
    background-color: #BAD4D8;
    display:inline-block;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 65px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #0097B2;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #5BA1AD;
    color: #F4F3F3;
    font-size: 20px;
    padding: 8px 10px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #5BA1AD;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #0097B2;
    background: none;
}
/* about section styling */

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #0097B2;
}

.about .about-content .right a{
    display: inline-block;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #0097B2;
    background: none;
}
/* work section styling */
.work, .photos{
    color:black;
    background: #fbfbfb;
}
.work .title::before,
.photos .title::before{
    background: #fff;
}
.card{
    position:relative;
}

.work .serv-content .card{
    width: 300px;
    height: 400px;
    background: #efefef;
    text-align: center;
    border-radius: 6px;
    padding: 30px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}
.work .serv-content .card:hover{
    background: #0097B2;;
    content: "";
}
.work .serv-content .card:hover::after{
    content: "";
}

/* .work .serv-content .card .box{
    transition: all 0.3s ease;
} */
.work .serv-content .card:hover .box{
    transform: scale(1.0);
}
.work .serv-content .card i{
    font-size: 34px;
    color: #000000;
    transition: color 0.3s ease;
    padding: 0px;
}
/* .work .serv-content .card:hover i{
    color: #fff;
} */
.work .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.work .serv-content .card a{
    color: black;
    text-decoration-line: underline;  
}

/* connect section styling */

.connect .connect-content .column{
    width: calc(50% - 30px);
}
.connect .connect-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.connect .connect-content .left p{
    text-align: justify;
}
.connect .connect-content .left .icons{
    margin: 10px 0;
}
.connect .connect-content .row{
    display: flex;
    height: 65px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}
.connect .connect-content .row .info{
    margin-left: 30px;
}
.connect .connect-content .row i{
    font-size: 25px;
    color: #0097B2;
}
.connect .connect-content .row li{
    list-style: none;
    margin: 0 10px;
}
.connect .connect-content .row li .fab{
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.connect .connect-content .row li .fas{
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.connect .connect-content .row li .fab:hover{
    color: #ffffff;
}
.connect .connect-content .row li .fas:hover{
    color: #ffffff;
}
.connect .connect-content .row li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.connect .connect-content .row li a:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.connect .connect-content .row li:nth-child(1) a:hover{
    background-color: #190aa5;
}
.connect .connect-content .row li:nth-child(2) a:hover{
    background-color: #a50a0a;
}
.connect .connect-content .row li:nth-child(3) a:hover{
    background-color: #0077B5;
}
.connect .connect-content .row li:nth-child(4) a:hover{
    background-color: #e4405f;
}
.connect .connect-content .row li:nth-child(5) a:hover{
    background-color: #6cc644;
}
.connect .connect-content .row li:nth-child(6) a:hover{
    background-color: #55acee;
}
.connect .connect-content .info .head{
    font-weight: 500;
}
.connect .connect-content .info .sub-title{
    color: #333;
}
.connect .right form .fields{
    display: flex;
}
.connect .right form .field,
.connect .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.connect .right form .textarea{
    height: 80px;
    width: 100%;
}
.connect .right form .name{
    margin-right: 10px;
}
.connect .right form .field input,
.connect .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'IBM Plex Mono', monospace;
    transition: all 0.3s ease;
}
.connect .right form .field input:focus,
.connect .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.connect .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.connect .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #725bb0;
  border: 2px solid #725bb0;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #0097B2;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #0097B2;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: white;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        background: white;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .work .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .connect .connect-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .work .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .connect .right form .fields{
        flex-direction: column;
    }
    .connect .right form .name,
    .connect .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
p .uwaterloo-link {
    background: linear-gradient(45deg,#FFD54F 0%,#E4B429 33.33%, #787878 66.67%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p .uhn-link {
    background: linear-gradient(45deg,#032f51 0%,#062172 33.33%, #026096 66.67%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p .techuw-link {
    background: linear-gradient(45deg,#11551e 50%, #2b63db 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
p .projectify-link {
    background: linear-gradient(45deg,#4e1171 50%, #a217be 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p .pcc-link {
    background: linear-gradient(45deg,#1f7e1b 50%, #267402 100%);
    font-weight: 600;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spotify-link:hover{
   color: green;
}

a {
    text-decoration: none;
    color: white;
}

.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: black;
    background: black;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: black;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: black;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: black;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: black;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.98;
    background-color: white;
}
canvas {
    display:block;
    background: transparent;
    position: fixed;
    z-index: -1;
}

.main-sec{
    overflow: hidden;
}

.card-content {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    background-color: #0097B2;
    display: none;
}

.card:hover .card-content 
{
    display: block;
    z-index:11;
    border-radius: 6px;
    margin-top: 27px;
}

.card-content1{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    background-color: #0097B2;
    opacity:0.98;
    display: none;
}
    
.card:hover .card-content1 {
    display: block;
    z-index:11;
    border-radius: 6px;
}

.card-content2{
    position: absolute;
    margin: 0;
    top: 111px;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    background-color: #efefef;
    opacity:0.98;
    display: none;
}
    
.card:hover .card-content2 {
    display: block;
    z-index:11;
    border-radius: 6px;
    color:black;
}

.card-content2 li {
    margin-left: 24px;
    margin-top: 5px;
    font-size: 13px;
}
    

a:hover{
    -webkit-text-fill-color: black;
}

.box .text:hover{
    -webkit-text-fill-color: white;
}

/* .work .serv-content .card .text:hover {
    color:white;
} */

        .card-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: #e9e9e9;
            padding: 5px;
            border-radius:6px;
        }

        .card-info {
            font-size: 13px;
            text-align: left;
            margin-left: 10px;
            margin-top: 5px;
            line-height: 26px;
            margin-right: 7px;
            padding: 11px;
        }

